# PYTHON BASIC PRACTICE CODES -I

#1 Python Program to Find the Square Root.

In [1]:
num = float(input('Enter a number: '))
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

Enter a number: 10
The square root of 10.000 is 3.162

#2 Python Program to Add Two Numbers.

In [2]:
num1 = 1.5
num2 = 6.3
# Add two numbers
sum = num1 + num2
# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 1.5 and 6.3 is 7.8

#3 Python Program to Calculate the Area of a Triangle

In [4]:
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))
# calculate the semi-perimeter
s = (a + b + c) / 2
# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter first side: 12
Enter second side: 14
Enter third side: 16
The area of the triangle is 81.33

#4 Python Program to Swap Two Variables

In [5]:
x = input('Enter value of x: ')
y = input('Enter value of y: ')
# create a temporary variable and swap the values
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 50
Enter value of y: 60
The value of x after swapping: 60
The value of y after swapping: 50

#5 Python Program to Convert Kilometers to Miles

In [6]:
kilometers = float(input("Enter value in kilometers: "))
# conversion factor
conv_fac = 0.621371
# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 200
200.00 kilometers is equal to 124.27 miles

#6 Python Program to Convert Celsius To Fahrenheit

In [7]:
# change this value for a different result
celsius = 37.5
# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

# LIST

#1  Python program to interchange first and last elements in a list.

In [12]:
newList = []
element = int(input("enter the number of elements you want in list"))
for i in range(0,element):
    list_element = input("Enter value here: ")
    newList.append(list_element)
newList[0],newList[-1] = newList[-1], newList[0]
print(newList)

enter the number of elements you want in list5
Enter value here: 25
Enter value here: 30
Enter value here: 65
Enter value here: 5
Enter value here: 4
['4', '30', '65', '5', '25']

#2 Concatenate two lists index-wise

In [13]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

#3 Given a Python list. Turn every item of a list into its square

In [14]:
aList = [1, 2, 3, 4, 5, 6, 7]
aList = [1, 2, 3, 4, 5, 6, 7]
aList =  [x * x for x in aList]
print(aList)

[1, 4, 9, 16, 25, 36, 49]

#4 Concatenate two lists in the following order

In [15]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
resList = [x+y for x in list1 for y in list2]
print(resList)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

#5  Remove empty strings from the list of strings

In [16]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
resList = list(filter(None, list1))
print(resList)

['Mike', 'Emma', 'Kelly', 'Brad']

# Dict

#1 Below are the two lists convert it into the dictionary

In [17]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
sampleDict = dict(zip(keys, values))
print(sampleDict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#2 Merge following two Python dictionaries into one

In [18]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#3 Create a new dictionary by extracting the following keys from a given dictionary

In [21]:
sampleDict = {  "name": "Kelly",  "age":25,  "salary": 8000,  "city": "New york"}
keys = ["name", "salary"]
newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

#4 Check if a value 200 exists in a dictionary

In [22]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
print(200 in sampleDict.values())

True

#5 Rename key city to location in the following dictionary

In [24]:
sampleDict = {  "name": "Kelly",  "age":25,  "salary": 8000,  "city": "New york"}
sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

#6 Get the key corresponding to the minimum value from the following dictionary

In [25]:
sampleDict = {  'Physics': 82,  'Math': 65,  'history': 75}
print(min(sampleDict, key=sampleDict.get))

Math

# LOOPS

#1 Python program to print only the odd numbers in given range.

In [26]:
num1 = int(input("Enter the smaller value"))
num2 = int(input("Enter the larger value"))
for i in range(num1, num2):
    if i%2 == 0:
        continue
    else:
        print(i, end  = ", ")

Enter the smaller value5
Enter the larger value10
5, 7, 9,

#2  Write a python program that prints all the values which are odd and less than 500 from given list of numbers.

In [27]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]
for i in numbers:
    if i > 500 or i % 2 == 0:
        continue
    else:
        print(i, end = ", ")

69, 319, 485, 83, 165, 141, 263, 219, 105, 47, 375, 345, 399, 219, 237, 217, 67, 81, 379, 445, 451, 93,

#3 Find all the numbers from given list which are factor of both 3, 7 .

In [28]:
for i in numbers:
    if i % 3 == 0 and i  % 7 == 0:
        print(i, end = ", ")

651, 105, 462, 399, 609, 126,

#4 FInd the largest number from the given list.

In [34]:
max = 0
for i in numbers:
    if i > max:
        max = i

#5 print the squares of odd numbers and cube roots of even number from the list above.

In [35]:
for i in numbers:
    if i % 2 == 0:
        print("Cube :", i**3, end = ", ")
    else:
        print("Square :",i**2, end = ", ")

Square : 904401, Cube : 64964808, Cube : 952763904, Square : 423801, Cube : 46656000, Square : 4761, Cube : 67917312, Square : 101761, Square : 361201, Square : 235225, Cube : 941192000, Square : 257049, Square : 525625, Square : 299209, Cube : 160989184, Square : 378225, Square : 6889, Square : 27225, Square : 19881, Square : 251001, Square : 69169, Square : 380689, Square : 748225, Square : 330625, Square : 47961, Cube : 59319000, Cube : 952763904, Cube : 207474688, Cube : 13144256, Square : 11025, Cube : 835896888, Square : 885481, Cube : 57512456, Cube : 98611128, Square : 2209, Cube : 73034632, Square : 822649, Cube : 40707584, Cube : 13144256, Square : 140625, Square : 677329, Cube : 181321496, Square : 356409, Cube : 935441352, Cube : 35287552, Square : 378225, Square : 908209, Square : 119025, Square : 159201, Cube : 4251528, Cube : 435519512, Square : 47961, Cube : 773620632, Square : 56169, Cube : 69934528, Cube : 181321496, Cube : 563559976, Cube : 15252992, Cube : 649461896, Cube : 857375000, Cube : 245314376, Square : 900601, Square : 471969, Square : 47089, Square : 664225, Square : 4489, Cube : 1124864, Cube : 195112, Cube : 134217728, Cube : 13824, Cube : 709732288, Cube : 714516984, Square : 588289, Square : 305809, Square : 6561, Square : 143641, Square : 710649, Square : 690561, Square : 198025, Cube : 408518488, Square : 514089, Cube : 879217912, Square : 370881, Cube : 596947688, Square : 203401, Cube : 325660672, Square : 567009, Cube : 622835864, Square : 469225, Square : 8649, Square : 734449, Cube : 85184000, Cube : 54872000, Cube : 2000376, Square : 519841, Cube : 35287552, Square : 567009, Cube : 103823000, Square : 552049, Square : 277729,

#6 Print First 10 natural numbers using while loop

In [36]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

#7 Print the following pattern

In [39]:
print("Second Number Pattern ")
lastNumber = 7
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

#8 Python Program to find factorial of number.

In [44]:
num = int(input("Enter a number: "))
factorial = 1
# check if the number is negative, positive or zero
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

# IF-ELSE CONSTRUCTS

#1 Python Program to Check if a Number is Odd or Even?

In [45]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
    print("{0} is Even".format(num))
else:
    print("{0} is Odd".format(num))

Enter a number: 5
5 is Odd

#2 Python Program to Check if a Number is Positive, Negative or 0?

In [48]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: -1
Negative number

#3 Python Program to Check Leap Year?

In [51]:
year = int(input("Enter a year: "))
if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter a year: 1986
1986 is not a leap year

#4 Python Program to Find the Largest Among Three Numbers

In [52]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
print("The largest number is", largest)

Enter first number: 5
Enter second number: 6
Enter third number: 7
The largest number is 7.0

#5 Python Program to Check if a person can vote or not?

In [56]:
age = int(input("Enter your age: "))
if age > 18:
    print("You can vote")
else:
    print("You can not vote")

Enter your age: 34
You can vote

# FUNCTIONS

#1 Python Program to Find Numbers Divisible by Another Number

In [58]:
def divisiblity():
    x = int(input("Enter first number: "))
    y = int(input("Enter Second number: "))
    z = int(input("Enter the number you want to check: "))
    if x%z == 0 and y %z == 0:
        print(f"{x},{y} are divisible by {z}")
    else:
        print(f"{x},{y} are not divisible by {z}")
divisiblity()

Enter first number: 12
Enter Second number: 14
Enter the number you want to check: 3
12,14 are not divisible by 3

#2 Python program to check if a given number is prime or not.

In [71]:
def prime(num):
    # prime numbers are greater than 1
    if num > 1:
       # check for factors
        for i in range(2,num):
            if (num % i) == 0:
                print(num,"is not a prime number")
                print(i,"times",num//i,"is",num)
                break
        else:
            print(num,"is a prime number")

    # if input number is less than
    # or equal to 1, it is not prime
    else:
        print(num,"is not a prime number")

#3 Write a python function to find factorial of number.

In [73]:
def Factorial():
    num = int(input("Enter a number: "))
    factorial = 1
    # check if the number is negative, positive or zero
    if num < 0:
        print("Sorry, factorial does not exist for negative numbers")
    elif num == 0:
        print("The factorial of 0 is 1")
    else:
        for i in range(1,num + 1):
            factorial = factorial*i
        print("The factorial of",num,"is",factorial)

#4 Python Program to Find HCF

In [74]:
def compute_hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

#5 Python Program to Find LCM

In [75]:
def compute_lcm(x, y):
    if x > y:
        greater = x
    else:
        greater = y
    while(True):
        if((greater % x == 0) and (greater % y == 0)):
            lcm = greater
            break
        greater += 1
    return lcm

#6 Write a function func1() such that it can accept a variable length of  argument and print all arguments value
func1(20, 40, 60)
func1(80, 100)

In [77]:
func1=(20, 40, 60)
func1=(80, 100)

def func1(*args):
    for i in args:
        print(i)

#7 Create an inner function to calculate the addition in the following way

In [78]:
def outerFun(a, b):
    square = a**2
    def innerFun(a,b):
        return a+b
    add = innerFun(a, b)
    return add+5

result = outerFun(5, 10)
print(result)

20

#8 Return the largest item from the given list

In [84]:
aList = [4, 6, 8, 24, 12, 2]
print(max(aList))

TypeError: 'int' object is not callable