In [1]:
8+4

12

In [2]:
16*5

80

In [3]:
50-5*6

20

In [4]:
(50-5*6)/4

5.0

In [5]:
# Now Write comment
# This is my first program.
# It prints the phrase "Hello, World"
# The comments are longer than the code!
greeting = "Hello World of Python"
print(greeting)

Hello World of Python

In [7]:
8/5

1.6

In [8]:
17/3

5.666666666666667

In [9]:
17//3

5

In [10]:
17%3

2

In [11]:
5*3+2

17

In [12]:
5**2

25

In [13]:
2**7

128

In [14]:
width = 20

In [15]:
height = 5 * 9
width * height
print(width)

20

In [16]:
print("The value of width=", width)

The value of width= 20

In [17]:
print ("The value of width is =", width)

The value of width is = 20

In [18]:
print("value=",width * height)

value= 900

In [19]:
print(height)

45

In [20]:
print("The value of height=", height)

The value of height= 45

In [21]:
print("The valud of height is =", height)

The valud of height is = 45

In [22]:
tax = 12.8/100

In [23]:
price = 100.5

In [24]:
price * tax
print ("value=", price *tax)

value= 12.864

In [25]:
print("The value of tax=",tax)

The value of tax= 0.128

In [26]:
"The " + "Sun"

'The Sun'

In [27]:
"The " + "Moon"

'The Moon'

In [28]:
"Planet " + "Universe"

'Planet Universe'

In [29]:
string1 = "Elon"

In [30]:
string2 = " Musk"

In [31]:
magic_string = string1  + string2

In [32]:
magic_string

'Elon Musk'

In [33]:
first_name = "Arthur"

In [34]:
last_name = "Dent"

In [35]:
full_name = first_name + " " + last_name

In [36]:
full_name

'Arthur Dent'

In [37]:
first_name = "Abhishek"

In [38]:
last_name = "Mittal"

In [39]:
my_name = first_name + " " + last_name

In [40]:
print(my_name)

Abhishek Mittal

In [41]:
first_name = "Ganga"

In [42]:
last_name = "Devi"

In [43]:
mywife = first_name + " " + last_name

In [44]:
mywife

'Ganga Devi'

In [45]:
prompt = "Hey, what's up? "

user_input = input(prompt)

print("You said: " + user_input)

Hey, what's up? Nothing
You said: Nothing

#Task: Take user input and make twice of that number

In [50]:
num = input("Enter a number to be doubled: ")
doubled_num = (num)*2
print(doubled_num)

Enter a number to be doubled: 5
55

# Task: Take user input and make twice of that number and typecast it to float.

In [48]:
num = input("Enter a number to be doubled: ")
doubled_num = float(num) * 2
print(doubled_num)

Enter a number to be doubled: 5
10.0

Write a program that uses input() twice to get two numbers from
the user, multiplies the numbers together, and displays the result.

In [62]:
x = input("First Number: ")
y = input("Second Number: ")
x = int(x)
y = int(y)
print(x*y)

First Number: 9
Second Number: 5
45

Calculate simple interest by taking user input for priciple,rate and time .

In [66]:
p = int(input("Principle"))
r = int(input("Rate"))
t = int(input("Time"))
simple_interest=(p*r*t)/100
print(simple_interest)

Principle100
Rate11
Time5
55.0

In [67]:
# Find length
len("abc")
letters = "abc"
len(letters)

3

Create a string and print its length using len()

In [69]:
string="Abhishek"
len(string)

8